In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}

In [3]:
data

{'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
 'team': ['Bears',
  'Bears',
  'Bears',
  'Packers',
  'Packers',
  'Lions',
  'Lions',
  'Lions'],
 'wins': [11, 8, 10, 15, 11, 6, 10, 4],
 'losses': [5, 8, 6, 1, 5, 10, 6, 12]}

In [17]:
football = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])

In [18]:
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [6]:
football['year']

0    2010
1    2011
2    2012
3    2011
4    2012
5    2010
6    2011
7    2012
Name: year, dtype: int64

In [22]:
football[football['year']>2011]

   year     team  wins  losses
2  2012    Bears    10       6
4  2012  Packers    11       5
7  2012    Lions     4      12

In [23]:
football[football['year']>2011]['team']

2      Bears
4    Packers
7      Lions
Name: team, dtype: object